@model Noested.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fornavn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fornavn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etternavn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etternavn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Postnr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Postnr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poststed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poststed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Epost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Epost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.KundeNr">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
